.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 4px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  p {
    cursor: pointer;
  }

  .btn-delete {
    background-color: transparent;
    border: none;
    padding: 0;
    color: rgb(80, 62, 82);
    cursor: pointer;
    padding-top: 2px;

    &:hover {
      transition: color 0.3s ease;
      color: rgb(244, 58, 37);
    }
  }

  .capitalize {
    text-transform: capitalize;
  }

  .not-done {
    transition: text-decoration-color 0.4s ease;
    text-decoration: line-through;
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: white;
    }
  }

  .done {
    text-decoration: line-through;

    .fa-check {
      color: rgb(55, 255, 0);
      margin-right: 5px;
    }
  }
}
